In [35]:
import pandas as pd

In [36]:
rat = pd.read_csv('ratings1.csv')
mov = pd.read_csv('movies1.csv')
mov.head()

,movieId,title,genres;;
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy;;
1,2,Jumanji (1995),Adventure|Children|Fantasy;;
2,3,Grumpier Old Men (1995),Comedy|Romance;;
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance;;
4,5,Father of the Bride Part II (1995),Comedy;;

In [37]:
rat_sort = rat [ (rat['rating'] == 5.0)]
ratt = rat_sort
print(ratt)

         userId  movieId  rating   timestamp
40            3     2028     5.0   945141611
61            4       47     5.0  1113767129
107           4      296     5.0  1113767056
109           4      316     5.0  1113767120
111           4      318     5.0  1113766505
...         ...      ...     ...         ...
1048385   10531      329     5.0   829504624
1048387   10531      342     5.0   829504624
1048476   10532     2959     5.0  1475013981
1048494   10532     4011     5.0  1475011948
1048554   10532    32587     5.0  1475015407

[151917 rows x 4 columns]

In [38]:
ratt['movieId'].value_counts().head()

318    1737
296    1390
356    1202
260    1149
593    1099
Name: movieId, dtype: int64

In [34]:
mov[mov['movieId'] == 318]['title'].head()

314    Shawshank Redemption, The (1994)
Name: title, dtype: object

In [93]:
a = pd.read_csv('power.csv')
a.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [94]:
filtered_countries = a[ (a['country']=='Latvia') | (a['country']=='Lithuania') | (a['country']=='Estonia') ]
filtered_categories = filtered_countries[ (filtered_countries['category']==4) | (filtered_countries['category']==12) | (filtered_countries['category']==21) ]
filtered_years = filtered_categories[ (filtered_categories['year'] >= 2005) & (filtered_categories['year'] <= 2010)]
filtered_quatities = filtered_years[ (filtered_years['quantity'] >= 0)]
filtered_quatities.head()
filtered_quatities['quantity'].sum()

240580.0

In [85]:
page_url ='http://www.kinometro.ru/box'

In [86]:
df = pd.read_html(page_url, attrs = {'class': 'box_full'}, encoding='utf-8')

In [87]:
df[:3]

[    Unnamed: 0 пред. неделя  \
 0          1.0            -
 1          2.0            2
 2          3.0            1
 3          4.0            3
 4          5.0            -
 5          6.0            4
 6          7.0            -
 7          8.0            7
 8          9.0            -
 9         10.0            5
 10        11.0           16
 11        12.0            -
 12        13.0            -
 13        14.0            9
 14        15.0            8
 15        16.0            6
 16        17.0           11
 17        18.0           13
 18        19.0            -
 19        20.0           14
 20         NaN          NaN
 21         NaN          NaN

                                              название   дистрибьютор  \
 0                                           СТРЕЛЬЦОВ             CP
 1                                          ДОВОДTenet            CAO
 2                     ПОСЛЕ. ГЛАВА 2After We Collided            VLG
 3                                          МУЛАНMulan            WDS
 4                    БЕЛКА И СТРЕЛКА. КАРИБСКАЯ ТАЙНА            CRP
 5                  ЗАКЛЯТЬЕ. ДОМ 3232 Malasana Street            EXP
 6               КЛАУСТРОФОБЫ: КВЕСТ В МОСКВЕFollow Me            NKI
 7                               ГРЕНЛАНДИЯ 1Greenland             MG
 8                                      ГНЕЗДОThe Nest            CPF
 9                                АНТЕБЕЛЛУМAntebellum             CP
 10  BTS: РАЗБЕЙ ТИШИНУ. ФИЛЬМ 2BTS: Break the Silence           COOL
 11                            СУПЕР КРЕЙЗИSuper Crazy             WP
 12                      СДЕЛАНО В ИТАЛИИMade in Italy             BN
 13                                  ВРАТАРЬ ГАЛАКТИКИ            NKI
 14                           НОВЫЕ МУТАНТЫNew Mutants            WDS
 15                     КО-КО-КО! 3Turu, the Wacky Hen             MG
 16     МУЛЬТ В КИНО. ВЫПУСК № 117. ЧТО-ТО НОВЕНЬКОЕ 4            MVK
 17               ТРОЛЛИ. МИРОВОЙ ТУРTrolls World Tour            UPI
 18       КИПЕЛОВ. КОНЦЕРТ С СИМФОНИЧЕСКИМ ОРКЕСТРОМ 5           CARO
 19  ВОЛШЕБНОЕ ЗЕРКАЛО, ИЛИ ДВОЙНЫЕ НЕПРИЯТНОСТИ 6D...           KNLG
 20                                      ИТОГО ТОП-10:  ИТОГО ТОП-10:
 21                                      ИТОГО ТОП-20:  ИТОГО ТОП-20:

              нед.            к/т            касса уикенда  \
 0               1           1619  114 895 627  $1 504 854
 1               4      1402(-87)     66 416 922  $869 901
 2               2       1193(25)     43 117 614  $564 736
 3               3       1374(-1)     39 357 775  $515 491
 4               1           1550     24 735 909  $323 980
 5               1       576(150)     19 602 932  $256 751
 6               1            434       7 017 708  $91 915
 7               6      254(-105)       4 738 703  $62 066
 8               1            171       3 372 179  $44 167
 9               2         796(5)       3 314 576  $43 413
 10              3        53(-41)       3 137 357  $41 092
 11              1            302       2 649 970  $34 708
 12              1            215       2 170 204  $28 424
 13              5      230(-704)       1 709 537  $22 391
 14              4      233(-494)       1 680 632  $22 012
 15              2      547(-247)       1 295 017  $16 962
 16              4      417(-111)       1 049 664  $13 748
 17             28        90(-23)          692 345  $9 068
 18              1             41          662 530  $8 678
 19              2        133(-7)          582 325  $7 627
 20  ИТОГО ТОП-10:  ИТОГО ТОП-10:    326 569 945$4 277 275
 21  ИТОГО ТОП-20:  ИТОГО ТОП-20:    342 199 526$4 481 985

                 общая касса нараб.уикенда зрительуикенда общийзритель  \
 0   114 895 627  $1 504 854  70 967  $929        419 565      419 565
 1   720 663 112  $9 757 150  47 373  $641        212 023    2 314 349
 2   236 433 361  $3 155 390  36 142  $482        171 191      944 974
 3   329 048 056  $4 325 596  28 645  $377        156 002    1 249 706
 4      24 735 909  $323 980  15 959  $209        119 175      119 175
 5      43 103 218  $564 548  34 033  $446         71 298      164 657
 6        7 017 708  $91 915  16 170  $212         25 897       25 897
 7   150 267 130  $2 051 989  18 656  $255         19 278      569 688
 8        3 421 925  $44 819  19 720  $258          8 007        8 131
 9      19 792 346  $264 144    4 164  $56         13 020       76 968
 10     26 806 026  $352 386  59 195  $778          7 609       63 317
 11       2 735 542  $35 829   8 775  $115          9 735       10 027
 12       2 182 725  $28 588  10 094  $132          6 514        6 555
 13  107 002 004  $1 416 495    7 433  $98          8 087      477 260
 14   82 819 420  $1 121 303    7 213  $98          6 767      333 172
 15     10 263 188  $136 970    2 367  $32          7 236       51 119
 16      7 425 010  $100 528    2 517  $34          8 814       60 206
 17  143 491 969  $1 858 464   7 693  $100          3 447      687 679
 18          662 530  $8 678  16 159  $212          1 903        1 903
 19       1 952 883  $26 063    4 378  $58          2 782        9 317
 20                      NaN           NaN      1 215 456      -20,87%
 21                      NaN           NaN      1 278 350      -19,07%

     падение цена билетауикенда Сеансы(уикенд / тотал)
 0         -         273,8$3,59           36 90136 901
 1   -44,69%         313,3$4,24                      -
 2   -70,06%         251,9$3,36           11 70352 438
 3   -56,16%         252,3$3,32                      -
 4         -         207,6$2,72                      -
 5         -         274,9$3,60                      -
 6         -         271,0$3,55                      -
 7   -37,50%         245,8$3,36            1 14442 572
 8         -         421,2$5,52                      -
 9   -72,52%         254,6$3,40            3 74419 656
 10  274,07%         412,3$5,42               2171 936
 11        -         272,2$3,57                      -
 12        -         333,2$4,36             1 5001 502
 13  -74,22%         211,4$2,80                      -
 14  -75,02%         248,4$3,36                      -
 15  -83,23%         179,0$2,39             1 1886 332
 16  -44,23%         119,1$1,61            1 49210 212
 17  -44,50%         200,9$2,60              40992 551
 18        -         348,2$4,56                      -
 19  -49,47%         209,3$2,79               3341 026
 20  -20,87%                NaN                    NaN
 21  -19,07%                NaN                    NaN  ]